@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Press+Start+2P&display=swap');

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: #323232;
  color: rgb(255, 255, 255);
  font-family: "M PLUS Rounded 1c", system-ui, 'Times New Roman', Times, serif;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  height: 50px;
}

.header-logo {
  cursor: pointer;
  position: fixed;
  left: 10px;
  top: 10px;
}

.header-menu-button {
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;}

.header-menu {
  z-index: 1000;
  position: absolute;
  top: 65px;
  right: 10px;

  display: flex;
  flex-direction: column;
  align-items: end;

  background-color: white;
  border-radius: 10px;
  width: 60%;
  color: black;

  overflow: hidden;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  list-style-type: none;
  margin-top: 5px;
  margin-right: 10px;
}

.header-menu-list-item {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", system-ui, 'Times New Roman', Times, serif;
}

.header-line {
  margin-left: 10px;
  margin-right: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-main-name {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;

  margin-top: 90px;

  font-family: "Press Start 2P", system-ui, 'Times New Roman', Times, serif;
}

.menu-description {
  text-align: center;
  font-family: "M PLUS Rounded 1c", system-ui, 'Times New Roman', Times, serif;
}

.menu-button {
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 50%;

  margin-top: 30px;
  
  text-align: center;
  white-space: nowrap;
  font-size: 24px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", system-ui, 'Times New Roman', Times, serif;
}

.menu-button:hover {
  background-color: rgb(229, 229, 229);
}

.portfolio-widget {
  cursor: pointer;
  width: 90%;
  height: 250px;

  gap: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgb(214, 214, 214);
  border-radius: 10px;

  padding-left: 20px;
  overflow-x: scroll;

  scrollbar-width: none;
}

.portfolio-title {
  cursor: pointer;
  margin-top: 50px;
  margin-right: 40%;
  margin-bottom: 5px;

  font-size: 24px;
  font-family: "Press Start 2P", system-ui, 'Times New Roman', Times, serif;
}

.portfolio-card {
  width: 340px;
  height: 225px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  background-color: white;
  color: black;
  border-radius: 10px;
}

.portfolio-card-image {
  border-radius: 10px;
  margin-top: 10px;
  max-width: 300px;
  max-height: 160px;
}

.portfolio {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  gap: 20px;
}

.desktop-header-menu-list {
  display: none;
}

.desktop-header-menu-list-item {
  display: none;
}

@media screen and (min-width: 900px)  {

header {
  height: 80px;
}

.header-logo {
  width: 64px;
  height: 64px;
}

.header-menu-button {
  display: none;
}

.header-menu {
  display: none;
}

.header-menu-list {
  display: none;
}

.header-menu-list-item {
  display: none;
}

.menu-main-name {
  font-size: 48px;
  margin-top: 50px;
}

.menu-button {
  width: 20%;
}

.portfolio-widget {
  height: 260px;

  scrollbar-width: auto;
}

.portfolio-title {
  margin-top: 20px;
  margin-right: 70%;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.desktop-header-menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  white-space: nowrap;
  list-style-type: none;
}

.desktop-header-menu-list-item {
  text-decoration: none;
  display: initial;
  font-size: 24px;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
}